<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
  <header th:fragment="navbar">
    <nav class="navbar navbar-expand-lg navbar-light bg-body-tertiary">
      <div class="container-fluid">
        <a class="navbar-brand" href="http://localhost:8080/ticket">
          <img style="width: 40px" src="/img/logo.jpg" alt="logo" />
        </a>

        <button
          class="navbar-toggler"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#navbarSupportedContent"
          aria-controls="navbarSupportedContent"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <span class="navbar-toggler-icon"></span>
        </button>

        <div
          class="collapse navbar-collapse justify-content-center"
          id="navbarSupportedContent"
        >
          <form
            th:action="@{/ticket}"
            method="get"
            class="d-flex w-50"
            role="search"
            style="max-width: 600px"
          >
            <input
              name="keyword"
              th:value="${keyword}"
              class="form-control rounded-start border-2 border-success"
              type="search"
              placeholder="Inserisci il titolo del ticket"
              aria-label="Search"
            />
            <button class="btn btn-success rounded-end" type="submit">
              Cerca
            </button>
          </form>
        </div>
        <div class="d-flex align-items-center">
          <a
            class="btn btn-outline-success me-2"
            th:href="@{/ticket/create}"
            title="Add Ticket"
            ><img style="width: 20px" src="/img/add_ticket.gif" alt="add_notes"
          /></a>
          <a
            class="btn btn-outline-success me-2"
            th:href="@{|/operatore/edit/${#authentication.principal.id}|}"
            title="User Details"
          >
            <img
              style="width: 20px"
              src="/img/user_details.gif"
              alt="user details"
            />
          </a>
          <a class="btn btn-outline-danger" th:href="@{/logout}" title="Logout">
            <img style="width: 20px" src="/img/logout.gif" alt="logout" />
          </a>
        </div>
      </div>
    </nav>
  </header>
</html>
