<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
  <head>
    <div th:replace="~{fragments/header :: head}"></div>
    <title>Modifica Utente</title>
  </head>
  <body class="bg-light">
    <div class="container mt-5">
      <form
        th:action="@{/operatore/edit/{id}(id=${operatore.id})}"
        th:object="${operatore}"
        method="post"
      >
      <!-- Errore ticket da chiudere -->
        <div class="card shadow-lg rounded-4">
          <div class="card-header bg-dark text-white text-center">
            <th:block th:if="${errorActive != null}">
              <div
                class="alert alert-danger alert-dismissible fade show text-center"
                role="alert"
              >
                <span th:text="${errorActive}"></span>
                <button
                  type="button"
                  class="btn-close"
                  data-bs-dismiss="alert"
                  aria-label="Close"
                ></button>
              </div>
            </th:block>
            <h3>Modifica Utente</h3>
          </div>
          <div class="card-body">
            <!-- Matricola-->
            <label>Matricola n. </label>
            <span th:text="*{id}"></span>

            <!-- Nome -->
            <div class="mb-3 mt-3">
              <label for="name" class="form-label">Nome</label>
              <input type="text" th:field="*{name}" class="form-control" />
            </div>

            <!-- Email -->
            <input type="hidden" th:field="*{email}" />

            <!-- Password -->
            <div class="mb-3">
              <label for="password" class="form-label">Password</label>
              <input
                type="password"
                th:field="*{password}"
                class="form-control"
              />
            </div>

            <!-- Active -->
            <div class="form-check form-switch mb-3">
              <input
                class="form-check-input"
                type="checkbox"
                role="switch"
                th:field="*{active}"
                id="activeSwitch"
              />
              <label class="form-check-label" for="activeSwitch"
                >Utente Attivo</label
              >
            </div>
            <!-- Ticket con note associate -->
            <div class="mb-3">
              <label class="form-label">Ticket:</label>

              <div th:if="${operatore.tickets.isEmpty()}">
                <p class="mt-2 text-decoration-underline">
                  Nessun ticket disponibile
                </p>
              </div>
              <ul class="list-group" th:each="ticket : ${operatore.tickets}">
                <li class="list-group-item">
                  <strong>ID:</strong> <span th:text="${ticket.id}"></span>
                  <strong>Titolo:</strong>
                  <span th:text="${ticket.title}"></span>
                  <strong>Stato:</strong>
                  <span th:text="${ticket.status}"></span>
                  <!-- Note associate al ticket -->
                  <ul
                    class="mt-2 ps-3 list-group list-group-flush"
                    th:if="${!#lists.isEmpty(ticket.notes)}"
                  >
                    <li
                      class="list-group-item ps-0"
                      th:each="note : ${ticket.notes}"
                    >
                      <strong>Nota ID:</strong>
                      <span th:text="${note.id}"></span> -
                      <strong>Contenuto:</strong>
                      <span th:text="${note.notesDescription}"></span>
                    </li>
                  </ul>
                  <div
                    th:if="${ticket.notes.isEmpty()}"
                    class="mt-2 text-muted ps-3"
                  >
                    Nessuna nota associata.
                  </div>
                </li>
              </ul>
            </div>

            <!-- Azioni -->
            <div class="d-flex justify-content-between mt-4">
              <a class="btn btn-outline-secondary" th:href="@{/ticket}"
                >← Torna alla lista</a
              >
              <button type="submit" class="btn btn-success">Salva</button>
            </div>
          </div>
        </div>
      </form>
    </div>

    <footer class="mt-5">
      <div th:replace="~{fragments/header :: bootstrapScript}"></div>
    </footer>
  </body>
</html>
