<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
  <head>
    <div th:replace="~{fragments/header :: head}"></div>
  </head>
  <body class="d-flex justify-content-center align-items-center" style="min-height: 80vh;">
    <iframe 
      src="https://lottie.host/embed/01a3c1a0-bb6d-4df1-a87a-75df67db84dc/rpo8fQKdfY.lottie" 
      class="w-50" 
      style="height: 500px; border:none;">
    </iframe>
  </body>
  <footer>
    <div th:replace="~{fragments/header :: bootstrapScript}"></div>
  </footer>
</html>
